.site-header {
    background: #fff;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    z-index: 100;
}
.site-header, .header-menu ul ul {
    @include box-shadow(0 0 5px rgba(0,0,0,0.2));
}

.header-form:after, .listed-story .story-text, .site-header, .site-footer {
    @include border-radius(2px);
}

header-menu ul {
    margin: 0.5em 0;
}

.header-menu div > ul > li {
    float: left;
    margin: -0.3em 0 -0.5em 0;
    padding-bottom: 0.5em;
}

.header-menu a {
    display: block;
    padding: 0.4em 11px 0.5em 11px;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    color: #333;
}

#desc{
    width: 40%;
    color: #FFF;
    @include text-shadow(2px 2px 2px rgba(150, 150, 150, 1));

    h2{
        margin-top: 44px;
        @include text-shadow(2px 2px 2px rgba(150, 150, 150, 1));
    }
}


#img {
    background-image: url(../img/image-1.png);
    height: 400px;
    width: 60%;
    background-size: cover;
    background-repeat: no-repeat;
}

.panel-top{
    border: solid 1px #48a9d0;
    background: rgba(72, 169, 208, 0.3);
    @include border-radius(2px);

    h1{
        margin: 0;
        color: #fff;
        position: relative;
        z-index: 10;
        text-shadow: 0 -1px 0 rgba(0,0,0,0.1);
    }
}